* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100vh; /* Full viewport height */
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex: 1;
    width: 100%;
    height: 100%; /* Full viewport height minus navbar height */
}

.left {
    flex: 1;
    background-image: url('/img/pic1.png'); /* Ensure the path to the image is correct */
    background-size: cover;
    background-position: center;
}

.right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.login-box {
    width: 130%;
    max-width: 1000px;
    min-height: 300px;
    text-align: center;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo img {
    width: 100px;
    margin-bottom: 20px;
}

h2 {
    margin-top: 20px;
    font-size: 24px;
    color: #333;
}

p {
    margin: 10px 0;
    color: #666;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    align-self: flex-start;
    margin: 5px 0;
    font-size: 14px;
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.remember-forgot {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    font-size: 14px;
}

    .remember-forgot label {
        display: flex;
        align-items: center;
    }

    .remember-forgot input[type="checkbox"] {
        margin-right: 5px;
    }

    .remember-forgot a {
        color: #0066cc;
        text-decoration: none;
    }

button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: #0099cc;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

    button:hover {
        background-color: #007bb5;
    }

hr {
    width: 100%;
    margin: 20px 0;
}

section {
    width: 100%;
    text-align: center;
}

.signup {
    margin-top: 10px;
    font-size: 14px;
}

    .signup a {
        color: #0066cc;
        text-decoration: none;
    }
